@import url('https://fonts.googleapis.com/css2?family=Alice&family=Archivo:ital,wght@0,100..900;1,100..900&family=Kdam+Thmor+Pro&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: black;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin: 20px 0;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

ul li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #007bff; /* Cor de destaque no hover */
}

h1 {
    font-size: 2rem;
    margin: 20px 0;
    color: #fff;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000; /* Fundo cinza escuro para o formulário */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    color: #D21617;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #000; /* Bordas cinza */
    border-radius: 4px;
    background-color: #333; /* Fundo cinza escuro */
    color: #fff; /* Texto branco*/
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #D21617; /* Destaque azul no foco */
}

button {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #D21617; /* Botão azul */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #D21617; /* Azul mais escuro no hover */
}

.comments-section {
    margin-top: 40px;
    text-align: left;
    padding: 20px;
}

.comment-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #1a1a1a; /* Fundo escuro para os comentários */
    border: 1px solid #000;
    border-radius: 4px;
}

.comment-item h3 {
    font-size: 16px;
    color: #D21617; /* Nome do autor em azul */
}

.comment-item p {
    font-size: 14px;
    color: #ccc; /* Comentário em cinza claro */
    margin: 5px 0 0 0;
}
